<%- include('header'); -%>

  <h1>Welcome to the TradeWorld Community</h1>
  <h4> Below your will see trading ideas of not just you but everyone on TW !</h4>
  <h4> Feel free to chat and get to know your community members</h4>

<section id="feedpost">
  <ul class="posts">
  <% for(var i=0; i<posts.length; i++) {%>
    <li>
      <p name="username" id="username"> <%= user.local.email %></p>
      <a href="/post/<%= posts[i]._id%>">
        <img class="feedimg"src="<%= posts[i].imageURL%>">
      </a>
      <div class="info">
        <p class="infoA" id="titleA"> Chart Symbol:</p>
        <p class="infoA" id="titleA"> Position:</p>
        <span class="infoA" id="returnA"><%= posts[i].chartSymbol %></span>
        <span class="infoA" id="returnA"><%= posts[i].position %></span>



<p class="infoA" id="titleA">Risk to Reward Ratio: </p>
<p class="infoA" id="titleA">Status:</p>

        <span class="infoA" id="returnA"><%= posts[i].riskReward %></span>
        <span class="infoA" id="returnA"><%= posts[i].status %></span>



        <!-- <span><%= posts[i].likes %></span>
        <% if(posts[i].heart === true){ %>
        <span class="red"><i class="fa fa-heart" aria-hidden="true"></i></span>
          <% } else { %>
        <span><i class="fa fa-heart" aria-hidden="true"></i></span>
        <% } %> -->
        </li>
        <% } %>
        </ul>
      </div>






</section>


<section id="chatBody">
  <h4>TradeWorld Community Chat</h4>
  <h5>Please adhere to all guidlines, these name are to protect our users. Violators will be removed.</h5>

  <div class="members-count">-</div>
  <div class="members-list">-</div>
  <div class="messages"></div>
  <form class="message-form" onsubmit="return false;">
    <input class="message-form__input" placeholder="Type a message.." type="text"/>
    <input class="message-form__button" value="Send" type="submit"/>
  </form>

</section>
<%- include('footer'); -%>
